@charset "UTF-8";
* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* algeme */

body {
  background-color: #d0d0d0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Gelasio", serif;
}

#page {
  box-shadow: 10px 10px 27px 0px rgb(144, 148, 142);
  color: rgba(144, 148, 142, 0.5);
}

.container {
  background-color: #fff;
  width: 960px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

header {
  border-top: 5px solid #894aa3;
}

a {
  color: #894aa3;
}

nav a {
  color: #666;
  text-decoration: none;
}

.quote {
  background-color: #ebebea;
  text-align: center;
  padding: 20px 10%;
}

.quote p {
  line-height: 25px;
}
